node_modules
src
test
examples
.husky
.lintstagedrc
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
dts-bundle-generator.config.ts
eslint.config.ts
.vite
.vscode
.git
tsconfig.json
vite.config.ts
.dts-bundle-generator.config.ts