#app {
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 60px;
  text-align: center;
}




#divBoard {
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);*/
  width: 100%;  
  aspect-ratio: 1 / 1; 
}

.piece {
  grid-column: span 3;
  grid-row: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 3vw;
}

.piece img {
  width: 100%;
  transition: transform 0.5s ease-in-out; 
}

.piece.numbers {
  grid-column: span 1;

  color: white;
}

.piece.letters {
  grid-row: span 1;

  color: white;
}
